.categories {
  &__title-background {
    &:first-letter {
      background: linear-gradient(90deg, #44c697 50%, transparent 50%);
    }
  }
  &__title {
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 125%;
    margin-top: 30px;
    text-align: center;
    color: $text-color-dark;
  }

  &__product-wrapper {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
  }

  &__product {
    margin-bottom: 100px;
  }

  &__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    @include categories-font;
    text-transform: uppercase;

    &:hover {
      border-bottom: 3px solid #44C697;
    }
  }

  &__img {
    &:hover {
      fill: #44C697;
    }
  }

  &__goods {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }

  &__goods-block {
    max-width: 100%;
    position: relative;
    &:hover {
      background: #44c697;
    }
  }

  &__novelty {
    @include flex-position-center;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 125%;
    text-transform: uppercase;
    position: absolute;
    top: 15px;
    width: 119px;
    height: 33px;
    background-color: #1E2E36;
    color: #fff;
  }

  &__novelty-hit {
    width: 143px;
    height: 33px;
    @include flex-position-center;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 125%;
    text-transform: uppercase;
    position: absolute;
    top: 15px;
    background-color: #1E2E36;
    color: #fff;
  }

  &__novelty-action {
    width: 84px;
    height: 33px;
    @include flex-position-center;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 125%;
    text-transform: uppercase;
    position: absolute;
    top: 53px;
    background-color: #ff1b1b;
    color: #fff;
  }

  &__goods-link {

  }

  &__goods-img {
    // width: 446px;
  }

  &__bads {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__bad-name {
    @include categories-font;
    text-transform: uppercase;
  }

  &__bad-price {
    @include categories-font;
    text-transform: uppercase;
  }

  &__button-position {
    display: flex;
    justify-content: center;
  }
  &__button {
    width: 180px;
    height: 51px;
    margin-top: 50px;
    @include header-font;
    border: none;
    border-radius: 3px;
    text-transform: uppercase;
    background: #44c697;
    color: #fff;

    transition-duration: 0.3s;

    &:hover {
      transform: scale(1.1);
      background: #1f9469;
    }
  }
}